@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}
.filter{
 position: absolute;
 left: 0;
 top: 0;
 bottom: 0;
 right: 0;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 50%,rgba(2,0,36,1) 100%);
opacity: .7;
}
table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 width: 60%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
td , th{
 padding: 15px 20px;
 text-align: center;
}
th{
 background-color: #00ade6;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}
#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 300px;
    height: auto;
    z-index: 3;
}
button
{
	width: 100px;
	float:right;
	border: 0px;
	margin-top: 20px;
	margin-right: 30px;
	border-radius: 25px;
	 background-color: #00ade6;
	 color: white;
}