
input[type=text], textarea {
  @include transition(all 0.30s ease-in-out);
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid rgb(29, 179, 221);
  box-shadow: 2px 2px 2px 1px rgba(53, 133, 252, 0.2);
}

label {
  width: 150px;
  float: left;
}
textarea
{
	width: 400px;
}
body {
  padding: 20px;
}
body
{
	background-color: rgba(0,172,230);
}
.btn-google {
  color: white;
  background-color: #FA9B37;
}
